@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.LoadingImage{
    height: 400px;
    width: 400px;
    margin-left: 30%;
    align-self: center;
}

body{
    background: radial-gradient(circle, rgb(182, 170, 170), rgb(61, 59, 54));

}