.LoadingImage{
    height: 400px;
    width: 400px;
    margin-left: 30%;
    align-self: center;
}

body{
    background: radial-gradient(circle, #ffe3c6 0%, rgb(167 82 18) 48%, rgb(249 195 155) 100%);
}