
.DetailPopup{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
    z-index: 1;
    .DetailPopup_Body{

        position: absolute;
        top: 10%;
        left: 5%;
        width: 80%;
        height: 80%;
        padding-left: 5%;
        padding-right: 5%;

        background-color: #ffe4c4;
        background: url(../Images/seamless-beige-stone-texture_124507-10698.jpg);
        border-radius: 20px;
        box-shadow: 0 10px 5px 0 rgba(0,0,0,0.5);
        overflow-y: scroll;
        table{
            border: 6px solid #948473;
            background-color: #FFE3C6;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            border-radius: 20px;
            thead{
                background: #948473;
            background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
            background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
            background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
                color: white;
            }
        }
        .Description{
            font-size: 30px;
            font-weight: 10000;
            text-align: center;
            margin: 0;
        }

        img{
            top: 0;
            left: 0;
            width: 100%;
            height: 40%;
            object-fit: cover;
            box-shadow: 0px 3px 4px rgb(137, 137, 137);
        }        
        .Header{
            font-size: 70px;
            font-weight: 10000;
            text-align: center;
            margin: 0;


        }
        .CloseButton{
            background-color: red;
            cursor: pointer;
            border-style: none;
            padding: 10px;
        }
    }
}
