.Event{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #e0d8c4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background-image: url(../Images/Background3.png);
    .Event_Body{
        background-image: url(../Images/Background3.png);
        box-shadow: #734c32 2px 5px 20px 10px inset;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 20px ;
        border-bottom-right-radius: 20px ;
        width: 100%;
        height: 100%;

        position: relative;
        &:after{
            box-shadow: #593518 0px 0px 20px 5px;
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-left-radius: 20px ;
            border-bottom-right-radius: 20px ;
        }
        .Event_Description{
            font-size: 2px;
        }
    }
    .Event_Title{
        background: linear-gradient(to bottom, #695f4a 22%,#634f2c 24%, #81755c 26%, #cfc09f 27%,#766a48 40%,#3a2c0f 78%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: rgb(245, 20, 20);
        font-family: 'Playfair Display', serif;
        position: relative;
        text-transform: uppercase;	
        font-size: 30px;
        width: 100%;
        height: 200px;
        margin: 0;
        font-weight: 400;
        text-shadow: #3a2c0f 0.1em 0.1em 0.2em;
        &::after{
            background: none;
            content: attr(data-heading);
            left: 0;
            top: 0;
            z-index: -1;
            position: absolute;
            text-shadow: 
                -1px 0 1px #c6bb9f, 
                0 1px 1px #c6bb9f, 
                5px 5px 10px rgba(0, 0, 0, 0.4),
                -5px -5px 10px rgba(0, 0, 0, 0.4);
        }
        
    
    }   

    .Event_Image_Container{
        position: relative;
        width: 100%;
        height: 200px;
        img{
            z-index: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            box-shadow: inset 5em 1em gold;
        }
        div{
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            box-shadow: inset 0.4em 0.5em 1em 1em rgb(0, 0, 0);
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

}