
@font-face {
    font-family: 'Milk';
    src: url(../Fonts/WhiteMilk.otf);
}
@font-face {
    font-family: 'OldFont';
    src: url(../Fonts/OldLondonAlternate.ttf);
}

@font-face {
    font-family: 'MainFont';
    src: url(../Fonts/Roboto-Bold.ttf);
}
*{
    font-family: 'MainFont' ;
}
.ToolsSubMenu{
    display: flex;
    flex-direction: row;
    height: 600px;

    .BackgroundImage{
        position: relative;
        background-image: url(../Images/Background2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 60%;
        width: 100%;
        object-fit: contain;
        object-position: 50% 50%;
        z-index: -1;
    }
    .Tools{
        background-image: url(../Images/Background3.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 30%;
        object-fit: cover;
        object-position: 25% 25%; 
        position: relative;
        .TourismA{
            position: absolute;
            margin: 0;
            padding: 0%;
            font-size: 36px;
            font-family: 'Milk';
            color:#472424;
            text-shadow: #534845 0px 4px 10px;
            top:10%;
        }
        .Arles{
            position: absolute;
            margin: 0%;
            font-size: 77px;
            top:17%;
            left: 12%;
            color: aliceblue;
            font-family: 'OldFont';
            text-shadow: #1a1615 0px 10px 10px;
        }
        .Tools_Buttons{
            position: absolute;
            top: 40%;
            width: 100%;
            h2{
                font-size:40px;
                margin: 0;
                color: aliceblue;
                font-family: 'MainFont';
                text-shadow: #472424 0px 4px 10px;
            }
            #search{
                border-radius: 15px;
                border-width: 4px;
                border-style: solid;
                height: 30px;
                margin-left: 7%;
                border-color: aliceblue;
                background: radial-gradient(circle, #e6dbc1, #dfc4b0);
                box-shadow: 0 5px 10px 3px rgba(0,0,0,0.5);
                &::placeholder{
                    color: #1a1615;
                    font-style: italic;
                }
            }
            .Submit-Search{
                border-radius: 15px;
                border-width: 4px;
                border-style: solid;
                height: 50px;
                margin-left: 40%;
                border-color: aliceblue;
                background: radial-gradient(circle, #e6dbc1, #d5b8a8);
                box-shadow: 0 5px 10px 3px rgba(0,0,0,0.5);
                cursor: pointer;
                &:hover{
                    background: radial-gradient(circle, #dfc4b0, #e6dbc1);
                }
            
            }

            
        }


    }

}
